= render partial: 'shared/header'
%section#disclaimer.bg-primary
  .container
    .row
      .col-lg-8.mx-auto.text-center
        %h2.section-heading.text-white Disclaimer
        %hr.light
        %p.text-faded This website was built with the aim to help people find if their flight was cancelled or not.
        %p.text-faded I am in no way affiliate with any airline. This was built with the simple intent of helping people find information fast!
        %p.text-faded I intent to improve this service, however, for now, this works only with the #ryanairmaggeddon that happened in September 2017
%section#about
  .container
    .row
      .col-lg-8.mx-auto.text-center
        %h2.section-heading Made with love!
        %hr.primary
        %p
          In September, Ryanair decided to cancel a bunch of flights due to an issue with pilot rota.
          %br
          I found it really difficult to check if my flight was affected or not.
    .row
      .col-lg-4.mx-auto.text-center
        %i.fa.fa-envelope-o.fa-3x.sr-contact
        %p
          %a{:href => "mailto:me@joseairosa.com"} me@joseairosa.com
