= render 'layouts/navigation'
%header.masthead
  .header-content
    .header-content-inner
      %h1#homeHeading Flight details
      %hr
      .container
        %form
          .form-group.row
            .col-md-6.mx-auto
              %input.form-control.form-control-lg{:placeholder => "Flight Number", :type => "text"}
          .form-group.row
            .col-md-6.mx-auto
              %input.form-control.form-control-lg{"data-provide" => "datepicker", :placeholder => "Flight Date", :type => "text"}
          .form-group.row
            .col-md-6.mx-auto
              %button.btn.btn-primary.btn-xl.js-scroll-trigger{:type => "submit"} Check my flight
      %hr
      %p Provide us with your flight details and we'll check if your flight has been cancelled!
