%li.nav-item
  %a.nav-link.js-scroll-trigger{:href => "#about"} About
%li.nav-item
  %a.nav-link.js-scroll-trigger{:href => "#services"} Services
%li.nav-item
  %a.nav-link.js-scroll-trigger{:href => "#portfolio"} Portfolio
%li.nav-item
  %a.nav-link.js-scroll-trigger{:href => "#contact"} Contact
