-# navigation styled for Bootstrap 3.0
%nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container
    = link_to "Is My Flight Cancelled?", root_path, class: 'navbar-brand js-scroll-trigger'
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
      %ul.navbar-nav.ml-auto
        = render 'layouts/navigation_links'
