%li.nav-item
  %a.nav-link.js-scroll-trigger{:href => "#disclaimer"} Disclaimer
%li.nav-item
  %a.btn.btn-social-icon.btn-github{href: "https://github.com/joseairosa/ismyflightcancelled.com", target: '_blank'}
    %span.fa.fa-github
